/* src/Footer.css */
.custom-footer {
    background-color: inherit;
    color: #282c34;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: auto;
  }
  
  .custom-footer hr {
    border: none;
    border-top: 1px solid #9ca3b3;
    margin: 0 auto 0.5rem;
    width: 90%;
  }

  .dark-footer {
    background-color: #282c34 !important;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .dark-footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  p {
    margin-top: 1.8rem;
  }