.project-carousel {
    position: relative;
  }
  
  /* Fill height & center the control content */
  .project-carousel .carousel-control-prev,
  .project-carousel .carousel-control-next {
    top:100px !important;
    width: 70px;
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;
  }
  
  /* Make arrows visible on dark bg */
  .project-carousel .carousel-control-prev-icon,
  .project-carousel .carousel-control-next-icon {
    filter: invert(1);
    background-size: 60% 60%;
  }
  



