@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Darker+Grotesque:wght@300..900&family=Darumadrop+One&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=UoqMunThenKhung&display=swap');

.basic {
  font-family: 'UoqMunThenKhung', sans-serif;
}

.page-styling p {
  padding-left: 12rem;
  padding-right: 10rem;
}

.default-card {
  border-radius: '12px';
  color: #282c34;

}

img {
  border-radius: 1.5rem !important;
}
