@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Darker+Grotesque:wght@300..900&family=Darumadrop+One&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=UoqMunThenKhung&display=swap');


html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #edf1fb, #edf1fb);
}

.basic {
  font-family: 'UoqMunThenKhung', sans-serif;
}

.page-styling p {
  padding-left: 12rem;
  padding-right: 10rem;
}

.default-card {
  border-radius: '12px';
  color: #282c34;
}

img {
  border-radius: 1.5rem !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #282c34;
  background-color: #edf1fb;
  overflow-x: hidden;
}
.project-card {
  margin-left: -12vw;
  margin-top: -2vh;
  padding-bottom: 1vh;
}


/* CAROUSEL */
.mini-hero{
  position:relative;
  width:100%;
  border-radius:24px;
  overflow:hidden;
  background:#0f1116;
  margin-top: 6vh; 
}
.carousel-slide{
  position:absolute;
  inset:0;background-size:cover;
  background-position:center;opacity:0;
  transform:scale(1.02);transition:.5s
}

.carousel-slide.on{
  opacity:1;
  transform:scale(1)
}

.carousel-scrim{
  position:absolute;
  inset:0;
  background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 70%)
}

.carousel-content{
  position:absolute;
  left:50%;bottom:8%;
  transform:translateX(-50%);
  width:min(92%,500px);
  text-align:center;
  color:#fff;
  padding-bottom: 5vh;
}

.carousel-title{
  margin:0 0 6px;
  font-size:clamp(28px,5vw,40px);
  font-weight:700
}

.carousel-description { 
  font-size: 
  clamp(13px,1.8vw,20px)!important; 
  line-height: 1.35; 
}

.carousel-tech{
  opacity:.85;
  /* fix later the font size*/
  font-size: small!important;
  color: #cad8f3;
  font-weight:700
}

.carousel-arrow{
  position:absolute;
  top:50%;transform:translateY(-50%);
  width:40px;height:40px;
  border:0;border-radius:50%;
  background:rgba(255,255,255,.14);color:#fff;font-size:26px;cursor:pointer}
.carousel-arrow.l{left:14px}.carousel-arrow.r{right:14px}
.carousel-dots{position:absolute;left:50%;bottom:12px;transform:translateX(-50%);display:flex;gap:8px}
.carousel-dot{width:34px;height:6px;border:0;border-radius:6px;background:rgba(255,255,255,.5);opacity:.6;cursor:pointer}
.carousel-dot.on{opacity:1;background:#fff;width:46px}